@import "tailwindcss";

@layer utilities {
  @keyframes topani {
    0% {
      top: 120px;
    }
    100% {
      top: -200px;
    }
  }

  .animate-topani {
    animation: topani 0.5s ease-out forwards;
  }
  .f{
    display:flex;
    left:5%;
  }
}
